@using Microsoft.AspNetCore.Http.Extensions
@{
    var url = @Context.Request.GetDisplayUrl();
    string[] arrListUrl = url.Split('/');
    if (arrListUrl[3] == "") arrListUrl[3] = "index";
}
<!doctype html>
<html class="no-js " lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>:: Aero Bootstrap4 Admin :: Home</title>
    <link rel="icon" href="/icon.ico" type="image/x-icon"> <!-- Favicon-->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="/assets/plugins/charts-c3/plugin.css" />

    <link rel="stylesheet" href="/assets/plugins/morrisjs/morris.min.css" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <style>
        .language-select {
            padding: 4px 0px;
        }
    </style>
    @RenderSection("Header", required: false)
</head>

<body class="theme-blush">

    <!-- Page Loader -->
    <partial name="_Loader.cshtml">

        <!-- Overlay For Sidebars -->
        <div class="overlay"></div>

        <!-- Main Search -->
        <partial name="_MainSearch.cshtml">

            <!-- Right Icon menu Sidebar -->
            <partial name="_RightIcon.cshtml">

                <!-- Left Sidebar -->
                <partial name="_LeftSidebar.cshtml">

                    <!-- Right Sidebar -->
                    <partial name="_RightSidebar.cshtml">

                        <section class="content">
                            @RenderBody()
                        </section>

                        <!-- Jquery Core Js -->
                        <script src="/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
                        <script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

                        <script src="/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
                        <script src="/assets/bundles/sparkline.bundle.js"></script> <!-- Sparkline Plugin Js -->
                        <script src="/assets/bundles/c3.bundle.js"></script>

                        <script src="/assets/bundles/mainscripts.bundle.js"></script>
                        <script src="/assets/js/pages/index.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
                        @* Swal delete*@
                        <script>
                            $(document).ready(function () {
                                $('.delete').click(async function (e) {
                                    e.preventDefault();
                                    var href = ($(this).attr('href') == undefined) ? $(this).attr('action') : $(this).attr('href');
                                    const { value: success } = await Swal.fire({
                                        title: 'You want delete it?',
                                        text: "Data will be completely lost!",
                                        type: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        cancelButtonText: 'Cancle',
                                    })

                                    if (success) {
                                        window.location = href;
                                    }
                                });
                            });
                        </script>
                         @*active menu*@
                        <script>
                            $(document).ready(function () {
                                var className = ".menu-@arrListUrl[3]";
                                @*var subClassName = ".sub-menu-@arrListUrl[4]";*@
                                $(className).toggleClass("active open");
                                //$(subClassName).toggleClass("active open");
                            });
                        </script>
                        @RenderSection("Scripts", required: false)
</body>


</html>
