@{
    var loginSuccess = TempData["Succes"];
    var products = (List<ProductViewModel>)ViewData["products"];
}

<div class="body_scroll">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Dashboard</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Aero</a></li>
                    <li class="breadcrumb-item active">Dashboard 1</li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon traffic">
                    <div class="body">
                        <h6>Traffic</h6>
                        <h2>20 <small class="info">of 1Tb</small></h2>
                        <small>2% higher than last month</small>
                        <div class="progress">
                            <div class="progress-bar l-amber" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon sales">
                    <div class="body">
                        <h6>Sales</h6>
                        <h2>12% <small class="info">of 100</small></h2>
                        <small>6% higher than last month</small>
                        <div class="progress">
                            <div class="progress-bar l-blue" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width: 38%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon email">
                    <div class="body">
                        <h6>Email</h6>
                        <h2>39 <small class="info">of 100</small></h2>
                        <small>Total Registered email</small>
                        <div class="progress">
                            <div class="progress-bar l-purple" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100" style="width: 39%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon domains">
                    <div class="body">
                        <h6>Domains</h6>
                        <h2>8 <small class="info">of 10</small></h2>
                        <small>Total Registered Domain</small>
                        <div class="progress">
                            <div class="progress-bar l-green" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Revenue of 12 month recent</strong></h2>
                    </div>
                    <div class="body">
                        <div id="chart-area-spline-sracked" class="c3_chart d_sales"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="col-lg-12" style="margin-top: 11px;">
                    <h5 style="color:#e47297;">Top Selling</h5>
                </div>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @if (products != null)
                        {
                            <div class="products carousel-item active">
                                <div class="row clearfix ">
                                    <div class="col-lg-12 col-md-6 col-sm-6">
                                        <div class="card mcard_4" style="margin-bottom: 0px;">
                                            <div class="body text-center">
                                                <img height="280" width="300" src="@products[0].ImagePath" alt="profile-image">
                                                <div class="user">
                                                    <h5 class="mt-3 mb-1 text-center">@products[0].Name</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            for (int i = 1; i < products.Count; i++)
                            {
                                <div class="products carousel-item ">
                                    <div class="row clearfix ">
                                        <div class="col-lg-12 col-md-6 col-sm-6">
                                            <div class="card mcard_4" style="margin-bottom: 0px;">
                                                <div class="body text-center">
                                                    <img height="280" width="300" src="@products[i].ImagePath" alt="profile-image">
                                                    <div class="user">
                                                        <h5 class="mt-3 mb-1 text-center">@products[i].Name</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Revenue By Categories</strong></h2>
                    </div>
                    <div class="body text-center">
                        <div id="chart-pie" class="c3_chart d_distribution"></div>
                        <button class="btn btn-primary mt-4 mb-4">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        if (loginSuccess != null)
        {
            <script>
                $(document).ready(function () {
                    var message = '@loginSuccess';
                    Swal.fire({
                        type: 'success',
                        title: message,
                        showConfirmButton: false,
                        timer: 1500,
                        width: '500px'
                    })

                });

            </script>
        }
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "get",
                    url: "https://localhost:5001/api/orders/getrevenue/",
                    dataType: "json",
                    success: function (res) {
                        var data = res.resultObject;
                        var values = ['data1', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                        for (let i = 1; i < values.length; i++) {
                            var index = data.findIndex(x => x.month === (i - 1));
                            if(index!=-1){
                                values[i] = data[index].total;
                            }
                        }
                        var d = new Date();
                        var shortMonth = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
                        var categories = shortMonth.slice(d.getMonth()).concat(shortMonth.slice(0, d.getMonth()));
                        var chart = c3.generate({
                            bindto: '#chart-area-spline-sracked', // id of chart wrapper
                            data: {
                                columns: [
                                    // each columns data
                                    values,
                                ],
                                type: 'area-spline', // default type of chart
                                groups: [
                                    ['data1']
                                ],
                                colors: {
                                    'data1': Aero.colors["lime"],
                                },
                                names: {
                                    // name of each serie
                                    'data1': 'Revenue',
                                }
                            },
                            axis: {
                                x: {
                                    type: 'category',
                                    // name of each category
                                    categories: categories
                                },
                            },
                            legend: {
                                show: true, //hide legend
                            },
                            padding: {
                                bottom: 0,
                                top: 0
                            },
                        });
                    }
                });
                $.ajax({
                    type: "get",
                    url: "https://localhost:5001/api/orders/getRevenueByCategory/4",
                    dataType: "json",
                    success: function (res) {
                        var total = res.resultObject.reduce((sum, x) => {
                            return sum + x.total;
                        },0);
                        var chart = c3.generate({
                            bindto: '#chart-pie', // id of chart wrapper
                            data: {
                                columns: [
                                    // each columns data
                                    ['data1', res.resultObject[0].total / total * 100],
                                    ['data2', res.resultObject[1].total / total * 100],
                                    ['data3', res.resultObject[2].total / total * 100],
                                    ['data4', res.resultObject[3].total / total * 100],
                                        
                                ],
                                type: 'pie', // default type of chart
                                colors: {
                                    'data1': Aero.colors["lime"],
                                    'data2': Aero.colors["teal"],
                                    'data3': Aero.colors["gray"],
                                },
                                names: {
                                    // name of each serie
                                    'data1': res.resultObject[0].categoryName,
                                    'data2': res.resultObject[1].categoryName,
                                    'data3': res.resultObject[2].categoryName,
                                    'data4': res.resultObject[3].categoryName,
                                }
                            },
                            axis: {
                            },
                            legend: {
                                show: true, //hide legend
                            },
                            padding: {
                                bottom: 0,
                                top: 0
                            },
                        });
                    }
                });
            });    
        </script>
    }

}