<div class="header__top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 ">
                <p>460 West 34th Street, 15th floor, New York - Hotline: 804-377-3580 - 804-399-3580</p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                <a class="ps-search-btn" href="#"><i class="ps-icon--search"></i></a>
                <div class="btn-group ps-dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">USD</a></li>
                        <li><a href="#">SGD</a></li>
                        <li><a href="#">ERO</a></li>
                        <li><a href="#">JPN</a></li>
                    </ul>
                </div>
                <div class="btn-group ps-dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language<i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Japanese</a></li>
                        <li><a href="#">Chinese</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>