<section class="ps-section ps-section--subscribe pt-80 pb-80">
    <div class="container">
        <div class="ps-subscribe">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                    <h4>ABOUT US</h4>
                    <p>Te pri oblique ullamcorper, magna persequeris has eu. Mei prompta dolores examad debet suavitate. Pri te vocibus electram. Eu eleifend rationibus vis, at.</p>
                    <p class="text-uppercase ps-subscribe__highlight">240 CENTRAL PARK, LONDON, OR 10019</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                    <a class="ps-subscribe__logo" href="index.html"><img src="/assets/images/logo-1.png" alt=""></a>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                    <h4>SUBSCRIBE EMAIL</h4>
                    <p>Give us your email, and we shall send regular updates for new stuff and events.</p>
                    <form class="ps-subscribe__form" method="post" action="http://nouthemes.net/html/bakery/_action">
                        <input class="form-control" type="text" placeholder="Type your email...">
                        <button class="ps-btn ps-btn--sm">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>