@model VerificationViewModel
@{ 
    ViewData["Header"] = "header--2";
    ViewData["Image-logo"] = "/assets/images/logo-2.png";
}
<div class="ps-section--hero" style="height: 175px">
</div>
<div class="ps-section pt-80 pb-80">
    <div class="container">
        <div class="ps-section__content">
            <div class="ps-contact">
                <div class="row">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="ps-contact__form">
                            <form asp-action="ConfirmEmail" asp-controller="Login" method="post">
                                <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />
                                <input type="hidden" asp-for="Token" value="@ViewBag.Token" />
                                <div class="form-group">
                                    <label>
                                        Verification Code<span>*</span>
                                    </label>
                                    <input class="form-control" asp-for="VerificationCode" type="text" placeholder="">
                                    <span asp-validation-for="VerificationCode" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center mt-30">
                                    <button type="submit" class="ps-btn ps-btn--sm ps-contact__submit">Submit</button>
                                    <button type="button" class="ps-btn ps-btn--sm ps-contact__submit send-again">Send Again</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<partial name="../Shared/_Footer.cshtml">
@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('.send-again').click(function () {
                $.get("https://localhost:5002/login/sendmail/@ViewBag.Email",
                    function (data, status) {
                        console.log(data);
                    });
            });
        });
    </script>
}